<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %> 
<body class="h-screen relative">
    <div class="absolute inset-0 bg-[url('/images/developerArt.jpg')] bg-cover bg-center "></div>
    <div class="relative flex h-full z-10">
        <%- include('partials/sidebar') %>
        <div class="flex-1 overflow-auto bg-white/10 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] backdrop-blur-[5.5px]">
            <div class="flex w-full justify-center">
                <input type="text" id="searchInput" placeholder="Search items..." class="focus:outline-none p-2 mt-4 border rounded w-full max-w-[98%] bg-zinc-700/25 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] backdrop-blur-[5.5px] text-white text-base"/>
            </div>
            <div class="flex flex-wrap justify-center mt-2" >
                <% items.forEach(item => { %>
                    <div class="item w-36 h-auto  m-2 bg-zinc-700/25 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] backdrop-blur-[5.5px] hover:border-white/75 border-black border-2 rounded" data-name="<%= item.name %>">
                        <a class="w-full h-full flex items-center flex-col" href="item/<%= item.id %>">
                            <img class="rounded h-auto w-24 border-black border-2 mt-4" src="<%= item.img %>" alt="<%= item.name %>">
                            <h1 class="text-center text-base text-white w-24 mt-2 mb-2"><%= item.name %></h1>
                        </a>
                    </div>
                <% }); %> 
            </div>
        </div>
    </div>
    <%- include('partials/script-displayitems') %>
</body>
</html>
